<h1>Peer Evals for COSC 499</h1>
<p>This is the main page for the app.</p>

<p><%= link_to 'Create New Peer Evaluation', "/peer_evals/new" %>

<p><%= link_to 'See List of All Peer Evaluations', "/peer_evals" %>
